**/node_modules
**/npm-debug.log
**/.next
**/.git
**/.gitignore
**/README.md
**/.env.local
**/.env.production.local
**/.env.development.local
**/.vercel
**/.DS_Store
**/*.tsbuildinfo
**/coverage
**/.nyc_output
**/.cache
**/dist
**/build
**/.venv
target
